# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
.vercel

# Variable d'environnement
.env
.env.test
.env.test.local
.env.local
.env.example
.env.example.local
.env.example.test
.env.example.test.local
.env.example.prod
.env.example.prod.local
.env.example.dev
.env.example.dev.local

